/* loader */
#loader .loader {
  position: relative;
  text-align: center;
  margin: 15px auto 35px auto;
  z-index: 9999;
  display: block;
  width: 80px;
  height: 80px;
  border: 10px solid rgba(42,63,84, .3);
  border-radius: 50%;
  border-top-color: #2a3f54;
  animation: spin 1s ease-in-out infinite;
  -webkit-animation: spin 1s ease-in-out infinite;
}
@keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  to {
    -webkit-transform: rotate(360deg);
  }
}
#loader .modal-content {
  border-radius: 10px;
  box-shadow: 0 0 20px 8px rgba(42,63,84, 0.7);
}
#loader .modal-backdrop.show {
  opacity: 0.75;
}
#loader .loader-txt {
  color: #2a3f54;
}
/* override */
.dataTables_paginate a {
	background: #1abb9c !important;
    border: 1px solid #07ad8d !important;
	color: white !important;
}
.dataTables_paginate a:active:focus, .dataTables_paginate a:active:hover {
	background-color: #07ad8d !important;
    border-color: #07ad8d !important;
}
.dataTables_paginate a:active, .dataTables_paginate a:focus, .dataTables_paginate a:hover {
	background: #07ad8d !important;
}

/* custom */
/* bg */
.bg-second {
	background-color: #f3f3f3 !important;
	border-color: #f3f3f3 !important;
	color: #73879c !important;
	cursor: pointer !important;
}
.bg-second:hover,
.bg-second:active,
.bg-second:focus {
	background-color: #e0e0e0 !important;
	border-color: #e0e0e0 !important;
}
.bg-third {
	background-color: #2a3f54 !important;
	border-color: #2a3f54 !important;
	color: #f3f3f3 !important;
	cursor: pointer !important;
}
.bg-third:hover,
.bg-third:active,
.bg-third:focus {
	background-color: #1f3041 !important;
	border-color: #1f3041 !important;
}
/* text */
.txt-left {
	text-align: left !important;
}
.txt-right {
	text-align: right !important;
}
.txt-center {
	text-align: center !important;
}
.valign-mid {
	vertical-align: middle !important;
}
.underline {
	text-decoration: underline !important;
}
.wrap {
	/* overflow-wrap: break-word !important; */
	word-wrap: break-word !important;
	/* white-space: nowrap !important; */
}
/* input */
.tarea-h {
	resize: horizontal !important;
}
.tarea-v {
	resize: vertical !important;
}
/* margin */
.mrg-btm-0 {
	margin-bottom: 0px !important;
}
/* padding */
.pdg-5 {
	padding: 5px !important;
}
/* pointer */
.pointer {
	cursor: pointer !important;
}
/* white space */
.ws-normal {
	white-space: normal !important;
}